
footer {
    margin-top: 1rem;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(166, 166, 166); 
    gap: 10px;
}

.footer-text-names {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 200px;
    white-space: normal;
    word-wrap: break-word;
}

.footer-text{
    display: flex;
    gap: 5px;
    height: fit-content;
}

.author-header{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

version-info{
    justify-content: space-between;
}